@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;0,900;1,400');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;0,900;1,400');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,700;0,900;1,400');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;0,900;1,400');

.font-barlow         { font-family: "barlow"; }
.font-ibm-plex-sans  { font-family: "ibm plex sans"; }
.font-libre-franklin { font-family: "libre franklin"; }
.font-montserrat     { font-family: "montserrat"; }
.font-roboto         { font-family: "roboto"; }
.font-work-sans      { font-family: "work sans"; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #111111;
}

h1 {
  font-size: 36px;
}

.options {
  margin-bottom: 80px;
  padding: 8px;
  width: 100%;
  background-color: lightgray;
  color: black;
  font-size: 16px;
  text-align: center;
}

.options select {
  min-width: 140px;
  padding: 4px;
  border: 2px solid black;
  font-size: 16px;
}

.options label + select {
  margin-right: 32px;
}

.options label {
  margin-right: 8px;
}

section {
  margin: 24px;
}

.face {
  display: inline-block;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  margin: 20px;
}

.face img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 16px;
}

.face--name {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: bold;
}

.face--role {
  font-size: 16px;
  color: #444444;
}
